.App {
  text-align: center;
  display: flex;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.characters {
  list-style: none;
  padding-left: 0;
  border: dashed 1px #c0c0c0;
  background-color: #fff;
  padding: 6%;
}

.characters li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: .2em;
  padding: .5em .8em .5em .5em;
  margin-bottom: 1em;
}

.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family:'Reenie Beanie';
}

/* .characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: .5em;
  margin-right: .5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
} */



 .postit {
    line-height: 1;
    text-align:center;
    min-height:100px;
    max-height:100px;
    font-size:2em;

    /* Shadow */
  -moz-box-shadow:0px 0px 2px 1px #333333;
  -webkit-box-shadow:0px 0px 2px 1px #333333;
  box-shadow:0px 0px 2px 1px #333333;
}

  .postiti-yellow {
    border-top: 60px solid #fdfd86;
    background: #ffff88;
    background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6));
    background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); 
    background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); 
    background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); 
    background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 );
  }

  .postiti-blue {
    border-top: 60px solid #36A9CE;
    background: #36A9CE;
    background: -moz-linear-gradient(-45deg, #36A9CE 81%, #36A9CE 82%, #36A9CE 82%, #36A9CE 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#36A9CE), color-stop(82%,#36A9CE), color-stop(82%,#36A9CE), color-stop(100%,#36A9CE));
    background: -webkit-linear-gradient(-45deg, #36A9CE 81%,#36A9CE 82%,#36A9CE 82%,#36A9CE - 10% 100%); 
    background: -o-linear-gradient(-45deg, #36A9CE 81%,#36A9CE 82%,#36A9CE 82%,#36A9CE 100%); 
    background: -ms-linear-gradient(-45deg, #36A9CE 81%,#36A9CE 82%,#36A9CE 82%,#36A9CE 100%); 
    background: linear-gradient(135deg, #36A9CE 81%,#36A9CE 82%,#36A9CE 82%,#36A9CE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36A9CE', endColorstr='#ffffc6',GradientType=1 );
  }

  .postiti-orange {
    border-top: 60px solid #F9A55B;
    background: #F9A55B;
    background: -moz-linear-gradient(-45deg, #F9A55B 81%, #F9A55B 82%, #F9A55B 82%, #F9A55B 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#F9A55B), color-stop(82%,#F9A55B), color-stop(82%,#F9A55B), color-stop(100%,#F9A55B));
    background: -webkit-linear-gradient(-45deg, #F9A55B 81%,#F9A55B 82%,#F9A55B 82%,#F9A55B - 10% 100%); 
    background: -o-linear-gradient(-45deg, #F9A55B 81%,#F9A55B 82%,#F9A55B 82%,#F9A55B 100%); 
    background: -ms-linear-gradient(-45deg, #F9A55B 81%,#F9A55B 82%,#F9A55B 82%,#F9A55B 100%); 
    background: linear-gradient(135deg, #F9A55B 81%,#F9A55B 82%,#F9A55B 82%,#F9A55B 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36A9CE', endColorstr='#ffffc6',GradientType=1 );
  }

  .postiti-purple {
    border-top: 60px solid #F9A55B;
    background: #F9A55B;
    background: -moz-linear-gradient(-45deg, #F9A55B 81%, #F9A55B 82%, #F9A55B 82%, #F9A55B 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#F9A55B), color-stop(82%,#F9A55B), color-stop(82%,#F9A55B), color-stop(100%,#F9A55B));
    background: -webkit-linear-gradient(-45deg, #F9A55B 81%,#F9A55B 82%,#F9A55B 82%,#F9A55B - 10% 100%); 
    background: -o-linear-gradient(-45deg, #F9A55B 81%,#F9A55B 82%,#F9A55B 82%,#F9A55B 100%); 
    background: -ms-linear-gradient(-45deg, #F9A55B 81%,#F9A55B 82%,#F9A55B 82%,#F9A55B 100%); 
    background: linear-gradient(135deg, #F9A55B 81%,#F9A55B 82%,#F9A55B 82%,#F9A55B 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36A9CE', endColorstr='#ffffc6',GradientType=1 );
  }

  .postiti-purple {
    border-top: 60px solid #AE86BC;
    background: #AE86BC;
    background: -moz-linear-gradient(-45deg, #AE86BC 81%, #AE86BC 82%, #AE86BC 82%, #AE86BC 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#AE86BC), color-stop(82%,#AE86BC), color-stop(82%,#AE86BC), color-stop(100%,#AE86BC));
    background: -webkit-linear-gradient(-45deg, #AE86BC 81%,#AE86BC 82%,#AE86BC 82%,#AE86BC - 10% 100%); 
    background: -o-linear-gradient(-45deg, #AE86BC 81%,#AE86BC 82%,#AE86BC 82%,#AE86BC 100%); 
    background: -ms-linear-gradient(-45deg, #AE86BC 81%,#AE86BC 82%,#AE86BC 82%,#AE86BC 100%); 
    background: linear-gradient(135deg, #AE86BC 81%,#AE86BC 82%,#AE86BC 82%,#AE86BC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36A9CE', endColorstr='#ffffc6',GradientType=1 );
  }

  .postiti-green {
    border-top: 60px solid #D0E17D;
    background: #D0E17D;
    background: -moz-linear-gradient(-45deg, #D0E17D 81%, #D0E17D 82%, #D0E17D 82%, #D0E17D 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#D0E17D), color-stop(82%,#D0E17D), color-stop(82%,#D0E17D), color-stop(100%,#D0E17D));
    background: -webkit-linear-gradient(-45deg, #D0E17D 81%,#D0E17D 82%,#D0E17D 82%,#D0E17D - 10% 100%); 
    background: -o-linear-gradient(-45deg, #D0E17D 81%,#D0E17D 82%,#D0E17D 82%,#D0E17D 100%); 
    background: -ms-linear-gradient(-45deg, #D0E17D 81%,#D0E17D 82%,#D0E17D 82%,#D0E17D 100%); 
    background: linear-gradient(135deg, #D0E17D 81%,#D0E17D 82%,#D0E17D 82%,#D0E17D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36A9CE', endColorstr='#ffffc6',GradientType=1 );
  }

.rotate {
  /* Safari */
  -webkit-transform: rotate(-10deg);
  /* Firefox */
  -moz-transform: rotate(-10deg);
  /* IE */
  -ms-transform: rotate(-10deg);
  /* Opera */
  -o-transform: rotate(-10deg);
  /* Internet Explorer */
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
}